
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Lilita+One&family=Yarndings+20&display=swap');

.Lilita{
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');

.comic-relief-regular {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
}

.comic-relief-bold {
  font-family: "Comic Relief", system-ui;
  font-weight: 700;
  font-style: normal;
}
