@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Lilita+One&family=Yarndings+20&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');

body{
    background-color: #F5EFFF;
}

.heading{
    border-radius: 10px;
    background-color: #dce2ec;
    padding: 8px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}


.title{
    display: flex;
    align-items: center;
}

.title a{
    color:#4c5060;
    padding-left: 12px;
    text-decoration: none;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    display: block;
}

.title a:hover{
    transform: scale(1.05);
}

.navbar{
    display: flex;
    align-items: center;
}

.navbar > div{
    position: relative;
}

.navbar > div a{
    padding: 13px;
    color: #727583;
    text-decoration: none;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    display: block;
}

.navbar > div a:hover{
    transform: scale(1.1);
}

.sub_parts, .sub_service, .sub_jobcost, .sub_reports{
    display: none;
    position: absolute;
    background-color: #dce2ec;
    border-radius: 8px;
    padding: 8px;
    margin-top: 2px;
    z-index: 100;
}

.navbar > div .sub_parts a,
.navbar > div .sub_service a,
.navbar > div .sub_jobcost a,
.navbar > div .sub_reports a {
    font-size: 15px;
}


.parts:hover .sub_parts,
.service:hover .sub_service,
.jobcost:hover .sub_jobcost,
.reports:hover .sub_reports {
    display: block;
}

.sub_parts:hover .sub_parts,
.sub_service:hover .sub_service,
.sub_jobcost:hover .sub_jobcost,
.sub_reports:hover .sub_reports {
    display: block;
}

h1 {
    text-align: center;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.card {
    background: white;
    padding: 15px;
    margin: 15px auto;
    max-width: 650px;
    border-radius: 6px;
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
}

.card h3 {
    margin-bottom: 5px;
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
}

ul {
    margin-left: 20px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;   
}

.link {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: black;
}

.notFound{
    text-align:center;
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
}


@media(max-width: 696px){
    .heading{
        flex-wrap: wrap;
        height: 130px;
    }
}

@media(max-width: 428px){
    .heading{
        flex-wrap: wrap;
        height: 150px;
    }
}