@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Lilita+One&family=Yarndings+20&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');

body{
    background-color: #fcf9eae6;
}

.heading{
    border-radius: 10px;
    background-color: #9AA6B2;
    padding: 8px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}


.title{
    display: flex;
    align-items: center;
}

.title a{
    color:#F8FAFC;
    padding-left: 12px;
    text-decoration: none;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    display: block;
}

.title a:hover{
    transform: scale(1.05);
}

.navbar{
    display: flex;
    align-items: center;
}

.navbar > div{
    position: relative;
}

.navbar > div a{
    padding: 13px;
    color: #F8FAFC;
    text-decoration: none;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    display: block;
}

.navbar > div a:hover{
    transform: scale(1.1);
}

.sub_parts, .sub_service, .sub_jobcost, .sub_reports{
    display: none;
    position: absolute;
    background-color: #9AA6B2;
    border-radius: 8px;
    padding: 8px;
    margin-top: 2px;
    z-index: 100;
}

.navbar > div .sub_parts a,
.navbar > div .sub_service a,
.navbar > div .sub_jobcost a,
.navbar > div .sub_reports a {
    font-size: 15px;
}


.parts:hover .sub_parts,
.service:hover .sub_service,
.jobcost:hover .sub_jobcost,
.reports:hover .sub_reports {
    display: block;
}

.sub_parts:hover .sub_parts,
.sub_service:hover .sub_service,
.sub_jobcost:hover .sub_jobcost,
.sub_reports:hover .sub_reports {
    display: block;
}

.form {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.form form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
    width: 50%;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
}

.form label,
.form p {
    font-weight: bold;
    margin-top: 10px;
}

.form input,
.form select {
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
}

.form input:focus,
.form select:focus {
    border-color: #4a90e2;
}

.form select {
    cursor: pointer;
}

.form button{
    border-radius: 10px;
    background-color: #9AA6B2;
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
    padding: 5px;
    width: 200px;
    margin: auto;
    color: white;
    cursor: pointer;
}

.form button:hover{
    transform: scale(1.1);
}

.history {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
    justify-items: center;
}



.history a {
    display: inline-block;
    width: 150px;
    padding: 12px;
    text-decoration: none;
    border-radius: 10px;
    background-color: #BADFDB;
    color:black;
    text-align: center;
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
}

.history a:hover{
    transform: scale(1.1);
}

.manufacture, .model{
    text-transform: capitalize;
}


@media(max-width: 696px){
    .heading{
        flex-wrap: wrap;
        height: 130px;
    }
}

@media(max-width: 428px){
    .heading{
        flex-wrap: wrap;
        height: 150px;
    }
}