@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Lilita+One&family=Yarndings+20&display=swap');

body{
    background-color: #D9EAFD;
}

.heading{
    border-radius: 10px;
    background-color: #9AA6B2;
    padding: 8px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}


.title{
    display: flex;
    align-items: center;
}

.title a{
    color:#F8FAFC;
    padding-left: 12px;
    text-decoration: none;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    display: block;
}

.title a:hover{
    transform: scale(1.05);
}

.navbar{
    display: flex;
    align-items: center;
}

.navbar > div{
    position: relative;
}

.navbar > div a{
    padding: 13px;
    color: #F8FAFC;
    text-decoration: none;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    display: block;
}

.navbar > div a:hover{
    transform: scale(1.1);
}

.sub_parts, .sub_service, .sub_jobcost, .sub_reports{
    display: none;
    position: absolute;
    background-color: #9AA6B2;
    border-radius: 8px;
    padding: 8px;
    margin-top: 2px;
    z-index: 100;
}

.navbar > div .sub_parts a,
.navbar > div .sub_service a,
.navbar > div .sub_jobcost a,
.navbar > div .sub_reports a {
    font-size: 15px;
}


.parts:hover .sub_parts,
.service:hover .sub_service,
.jobcost:hover .sub_jobcost,
.reports:hover .sub_reports {
    display: block;
}

.sub_parts:hover .sub_parts,
.sub_service:hover .sub_service,
.sub_jobcost:hover .sub_jobcost,
.sub_reports:hover .sub_reports {
    display: block;
}

.choose{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-top: 20px;
}

.choose > div{    
    position: relative;
    width: 90%;
    margin: auto;
}

.choose > div img{
    width: 100%;
    border-radius: 10px;
    display: block;
}

.choose > div p{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: white;
    background-color: rgba(128, 128, 128, 0.81);
    border-radius: 10px;
    padding: 20px;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    text-align: center;
}

.choose > div:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}